/* CSS code for styling the search box */
body {
    background-color: salmon;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}     
#search-box {
    width: 300px;
    height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	font-size: 16px;
	outline: none;
}

/* CSS code for styling the search button */
#search-btn {
	height: 30px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 16px;
	cursor: pointer;
}

.menu-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #0069d9;
}
